<%-include('include/_iheader')  %>


    <div class="logo">
        <img src="img/logo2.png" alt="">
    </div>

    <div class="bgImg">
        <img src="img/bgimg.jpg" alt="">
    </div>

    <div class="container">
        <div class="chat" id="raise">
            <a href="/org_login">Want to Raise Fund!</a>
        </div>
        <div class="chat" id="donate">
            <a href="/investor_login">Want to Donate!</a>
        </div>

    </div>
    
<%-include('include/_footer')  %>
