<!DOCTYPE html>
<html lang="en">

<head>
    <title>Orgaizations list - Donator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/cardstyle.css">
    
</head>

<body id="body">
    <DIV id="boxCloud"></DIV>

    <div class="container">
        
        <header class="header">
            <div class="logo">
                <a href="/investor_orgs"><img src="img/logo2.png" alt="dkfjjdkfnb"></a>
            </div>
            <ul>
                <li><button onclick="Test()">Connect Wallet </button><i class="fa-solid fa-wallet"></i></li>
                <li><a href="/investor_vote">Vote Organization <i class="fa-solid fa-sitemap"></i></a></li>
                <li><a href="/logout">Logout </a></li>
                <li><a href="#about"><i class="fa-regular fa-user"></i></a></li> 
            </ul>
        </header>